$red: #BB0800;

@font-face {
    font-family: "DOOM";
    src: url("../fonts/Doom2016Text-GOlBq.ttf");}
@font-face {
    font-family: "Metrophobic";
    src: url("../fonts/Metrophobic-Regular.ttf");}

@mixin font-size($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: 1920 - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{1920}));}
    
%title {
    @include font-size(96, 72);
    font-family: 'DOOM';
    text-transform: uppercase;
    letter-spacing: 0.07em;}
%subtitle {
    color: $red;
    @include font-size(24, 14);}
%button {
    color: $red;
    background: #FFFFFF;
    border-radius: 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "DOOM";
    transition: all .3s ease-in-out;

    &:hover {
        color: white;
        background: $red;
    }}
    
._container {
    max-width: 1450px;
    padding: 10px 20px;
    margin: 0 auto;}
* {
    scroll-behavior: smooth;
}
body {
    background: black;
    color: white;
    font-family: "Metrophobic";
    overflow-x: hidden;
    
}

.fullscreen {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        z-index: -1;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 830px;
        z-index: 2;

        @media (max-width: 530px) {
            justify-content: space-between;
        }
    }

    &__main-info {
    }

    &__companies {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 7%;

        @media (max-width: 530px) {
            flex-direction: column;
            
            img {
                width: 40px;
            }
        }
    }

    &__doom-logo {
        display: flex;
        justify-content: center;

        svg {
            margin-left: 10px;
        }
    }

    &__slide-button {
        position: absolute;
        bottom: 20px;
        transition: all .3s ease-in-out;
        
        &:hover {
            svg {
                path {
                    stroke: $red;
                }
            }
            color: $red;
        }
    }}
.fullscreen-companies {

    &__company {
        display: flex;
        align-items: center;

        &:last-child {
            svg {
                margin-bottom: 35px;
            }

            div {
                font-size: 36px;
                margin-left: 0;
            }
        }

        @media (max-width: 530px) {
            margin-top: 30px;
        }
    }}
.fullscreen-companies-company {

    &__logo {
    }

    &__name {
        font-size: 24px;
        margin-left: 10px;
    }}
.fullscreen-slide-button {

    &__arrows {
    }

    &__text {
    }}

.platforms {

		&__wrap {
            margin: 5% auto;
		}

		&__title {
            @extend %title;
		}

		&__subtitle {
            @extend %subtitle;
		}

		&__logos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 830px;
            margin: 5% auto;
            flex-wrap: wrap;  
		}}
.logo {
    padding: 15px;}

.video {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        z-index: -1;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

	&__wrap {
        position: relative;
        width: 100%;
        padding: 17%;
        margin: 5% 3%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
	}}

.buying {
    &__wrap {

    }

	&__title {
        @extend %title;
	}

	&__subtitle {
        @extend %subtitle;
	}

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5%;

        @media (max-width: 950px) {
            justify-content: center;
        }
    }
}


.card {
    margin: 20px;

	&__image {
        width: 415px;
        height: 550px;
        border-radius: 15px;
        position: relative;
        filter: drop-shadow(0px 0px 10px rgba(187, 8, 0, 0.85));
        border-radius: 15px;
        overflow: hidden;
        

        &:hover {
            cursor: pointer;
            img {
                transform: scale(1.1);
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }

        @media (max-width: 950px) {
            width: 280px;
            img {object-fit: cover;}
        }
	}

	&__description {
        font-family: "DOOM";
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5% 0;
	}

	&__button {
        width: 100%;
        height: 54px;
        @extend %button;
	}}
.card-description {

	&__name {
        letter-spacing: 0.07em;
	}

	&__cost {
        font-family: "DOOM";
	}}

.contacts {

	&__wrap {
	}

	&__title {
        @extend %title;
	}

	&__subtitle {
        @extend %subtitle;
	}

	&__form {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $red;
        padding: 5%;
        margin-top: 5%;

        button {
            width: 100%;
            @extend %button;
            &:hover {
                background: black;
                color: white;
            }
        }

        @media (max-width: 900px) {
            flex-direction: column;
        }
	}
}
.contacts-form {

	&__inputs {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;

        input, textarea {
            background: white;
            height: 50px;
            color: black;
            outline: none;
            width: 100%;
            padding: 0 10px;
            border-radius: 10px;
            filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
        }

        textarea {
            padding: 10px;
            height: 100px;
            margin: 5%;
        }

        @media (max-width: 900px) {
            width: 100%;
        }
	}

	&__info {
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        @media (max-width: 900px) {
            margin: 5%;
        }
	}}
.contacts-form-info {

	&__title {
        font-family: "DOOM";
        text-transform: uppercase;
        font-size: 48px;
        letter-spacing: 0.07em;
	}

	&__mails,
    &__telephones {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        position: relative;
        border-top: 1px solid white;

        span {
            margin: 5px 0;
        }
	}}

.back-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: white;
    z-index: 5;
    transition: all .3s ease-in-out;
    opacity: 0;
    pointer-events: none;

    &._active {
        opacity: 1;
        pointer-events: all;
    }

    svg {
        width: 25px;
        transform: rotate(180deg);
        path {
            stroke: $red;
        }
    }

    &:hover {
        background: red;

        svg {
            path {
                stroke: white;
            }
        }
    }
}